{% extends 'admin1.html' %}
{% load static %}
{% block content %}


    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Rejected Leaves</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div style="box-shadow: 0 15px 30px rgba(8, 8, 8, 0.556);" class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                    <thead style="background-color: dodgerblue;">
                                        <tr style="color: black;">
                                            <th>Employee</th>
                                            <th>Department</th>
                                            <th>Leave Type</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Leave days remaining</th>
                                            <th>Leave Status</th>
                                            <th>Action</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody style="color: black;">
                                        {% for data in rejected reversed %}
                                        {% if data.leave_status == 'Pending' %} 
                                        {% if data.leave_status == 'Rejected' %}
                                        <p style="display: none;"></p>
                                        {% endif %}
                                        {% endif %}
                                        {% if data.leave_status == 'Accepted' %}
                                        <tr>
                                            <td>
                                                <img src="{{data.user.image.url}}" alt="user" class="rounded-circle" width="45"
                                                height="45">
                                                <p>{{data.user}}</p>
                                            </td>
                                            <td>{{data.user.department}}</td>
                                            <td>{{data.leave_type}}</td>
                                            <td>{{data.start_date}}</td>
                                            <td>{{data.end_date}}</td>
                                            <td>{{data.user.leave_days}}</td>
                                            <td><span style="color: green;">{{data.leave_status1}}</span><br>{{data.comment1}}</a></td>
                                            <td><button style="background-color: darkcyan;"><a style="color: black;" href="{% url 'action' data.id %}">Action</a></button></td>
                                            <td>{{data.comment}}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- <ul class="pagination float-right">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center text-muted">
            All Rights Reserved. Designed and Developed by <a
                href="https://wrappixel.com">..........</a>.
        </footer>
    </div>
</div>
{% endblock content %}