<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>
        Dear {{user.name}}, <br><br>

        I hope this email finds you well. <br>
        Your <b style="color: dodgerblue;">{{leave_type}} </b> from <b style="color: dodgerblue;">{{ start_date }}</b> to <b style="color: dodgerblue;">{{end_date}}</b> has been successfully received and is currently being reviewed by the relevant department. <br>
        Please note that you will receive a separate notification regarding the status of your leave application once reviewed. <br><br>
        If you have any urgent concerns or questions regarding your leave application, Please feel free to reach out to the HR department through <a style="color: blue;" href="">hr@gmail.com</a><br><br>

        Best regards,<br><br>

        Leave Management System,<br>
        Rongo University.
    </p>
</body>
</html>