{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin1.css' %}">

</head>

<body>
    <div class="off_canvars_overlay">
            
    </div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                              <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                        </div>
                        <div style="margin: 0% auto;" class="img">
                            <p>Hello {{user.username}}</p>
                        </div>
                        <br>
                        
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li><a href="{% url 'home' %}">home</a></li>
                                <li><a href="{% url 'add_user' %}"> Add Users</a></li>
                                <li><a href="{% url 'jobgroup' %}">Add Job Group</a></li>
                                <li><a href="{% url 'super_user' %}">Superusers</a></li>
                                <li><a href="{% url 'all_users' %}"> All Users</a></li>
                                <li><a href="{% url 'add_category' %}">Add Category</a></li>
                                <li><a href="{% url 'add_department' %}">Add Department</a></li>
                                <li><a href="{% url 'logout' %}">LogOut</a></li>
                                <li class="menu-item-has-children">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->
    
    <header>
        <div class="main_header">
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo">
                                <a href="{% url 'home' %}"><h3 style="color: white;">Rongo ELMS</h3></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6">
                            <div class="middel_right">
                                <div class="search_container">
                                   <form action="{% url 'search' %}" method="GET">
                                        <div class="search_box">
                                            <input name="q" placeholder="Search product..." type="text" required>
                                            <button type="submit">Search</button> 
                                        </div>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="main_menu_area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div style="text-align: center;" class="main_menu menu_position"> 
                                <nav>  
                                    <ul>
                                        <li><a href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'add_user' %}"> Add Users</a></li>
                                        <li><a href="{% url 'jobgroup' %}">Add Job Group</a></li>
                                        <li><a href="{% url 'super_user' %}">Superusers</a></li>
                                        <li><a href="{% url 'all_users' %}"> All Users</a></li>
                                        <li><a href="{% url 'add_category' %}">Add Category</a></li>
                                        <li><a href="{% url 'add_department' %}">Add Department</a></li>
                                        <li><a href="{% url 'logout' %}">LogOut</a></li>
                                    </ul>  
                                </nav> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </div> 
    </header>
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'home' %}">home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- Column -->
                                <div class="col-md-6 col-lg-3 col-xlg-3">
                                    <div class="card card-hover">
                                        <div class="p-2 bg-primary text-center">
                                            <h1 class="font-light text-white">{{workers}}</h1>
                                            <h6 class="text-white">Total Workers</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <div class="col-md-6 col-lg-3 col-xlg-3">
                                    <div class="card card-hover">
                                        <div class="p-2 bg-danger text-center">
                                            <h1 class="font-light text-white">{{ict}}</h1>
                                            <h6 class="text-white">ICT Workers</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <div class="col-md-6 col-lg-3 col-xlg-3">
                                    <div class="card card-hover">
                                        <div class="p-2 bg-success text-center">
                                            <h1 class="font-light text-white">{{finance}}</h1>
                                            <h6 class="text-white">Finance Workers</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <div class="col-md-6 col-lg-3 col-xlg-3">
                                    <div class="card card-hover">
                                        <div class="p-2 bg-danger text-center">
                                            <h1 class="font-light text-white">{{admission}}</h1>
                                            <h6 class="text-white">Admissions Workers</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2>Users</h2>
    <div class="members">
        <div style="width: 95%; margin: 0% auto;" class="welcome">
            <div class="loopp1">                
                <div class="loop1">
                    <div class="data1">
                        <table border="none" style=" border-collapse: collapse; width: 100%;">
                            <tr style="background-color: dodgerblue; padding: 20px;">
                                <th>
                                    <b>User</b>
                                </th>
                                <th>
                                    <b>PF No.</b>
                                </th>
                                <th >
                                    <b>Department</b>
                                </th>
                                <th>
                                    <b>Reporting To</b>
                                </th>
                                <th>
                                    <b>Update</b>
                                </th>
                                <th>
                                    <b>Delete</b>
                                </th>
                            </tr>
                            <tbody>
                                {% for data in all_users %}
                                <tr style="margin: 0% auto;">
                                    <td>{{data.name}}</td>
                                    <td>{{data.username}}</td>
                                    <td>{{data.department}}</td>
                                    <td>{{data.reporting_to}}</td>
                                    <td><button><a href="{% url 'update_user1' data.id %}">Update</a></button></td>
                                    <td><button><a href="{% url 'delete_user' data.id %}">Delete</a></button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/serviceworker.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>