{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
    <div class="off_canvars_overlay">
            
    </div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                              <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                        </div>
                        <div style="margin: 0% auto;" class="img">
                            <p>Hello {{user.username}}</p>
                        </div>
                        <br>
                        
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li><a href="{% url 'home' %}">home</a></li>
                                <li><a href="{% url 'add_user' %}"> Add Users</a></li>
                                <li><a href="{% url 'jobgroup' %}">Add Job Group</a></li>
                                <li><a href="{% url 'super_user' %}">Superusers</a></li>
                                <li><a href="{% url 'all_users' %}"> All Users</a></li>
                                <li><a href="{% url 'add_category' %}">Add Category</a></li>
                                <li><a href="{% url 'add_department' %}">Add Department</a></li>
                                <li><a href="{% url 'logout' %}">LogOut</a></li>
                                <li class="menu-item-has-children">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->
    
    <header>
        <div class="main_header">
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo">
                                <a href="{% url 'home' %}"><h3 style="color: white;">Rongo ELMS</h3></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6">
                            <div class="middel_right">
                                <div class="search_container">
                                    <img style="width: 300px;height: 70px; padding: 0%;" src="{% static 'assets/images/logo1.png' %}" alt="">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="main_menu_area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div style="text-align: center;" class="main_menu menu_position"> 
                                <nav>  
                                    <ul>
                                        <li><a href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'add_user' %}"> Add Users</a></li>
                                        <li><a href="{% url 'jobgroup' %}">Add Job Group</a></li>
                                        <li><a href="{% url 'super_user' %}">Superusers</a></li>
                                        <li><a href="{% url 'all_users' %}"> All Users</a></li>
                                        <li><a href="{% url 'add_category' %}">Add Category</a></li>
                                        <li><a href="{% url 'add_department' %}">Add Department</a></li>
                                        <li><a href="{% url 'logout' %}">LogOut</a></li>
                                    </ul>  
                                </nav> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </div> 
    </header>
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li>Add Super User</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <div class="members">
        <div style="width: 95%; margin: 0% auto;" class="welcome">
            <div class="loopp1">                
                <div class="loop1">
                    <div class="data1">
                        <table border="none" style=" border-collapse: collapse; width: 100%;">
                            <tr style="background-color: dodgerblue; padding: 20px;">
                                <th style="text-align: center;">
                                    <b>User</b>
                                </th>
                                <th style="text-align: center;">
                                    <b>PF No.</b>
                                </th>
                                <th style="text-align: center;">
                                    <b>Department</b>
                                </th>
                                <th style="text-align: center;">
                                <b>
                                    Tittle
                                </b>
                                </th>
                                <th style="text-align: center;">
                                    <b>Update(ACTION)</b>
                                </th>
                            </tr>
                            <tbody>
                                {% for data in all_users %}
                                <tr style="margin: 0% auto;text-align: center;padding: 5px;">
                                    <td>{{data.name}}</td>
                                    <td>{{data.username}}</td>
                                    <td>{{data.department}}</td>
                                    <td>
                                        {% if data.tittle == 'hod' %}
                                        Head Of Department
                                        {% endif %}
                                        {% if data.tittle == 'vc' %}
                                        Vice Chancellor
                                        {% endif %}
                                        {% if data.tittle == 'dvc' %}
                                        Deputy Vice Chancellor
                                        {% endif %}
                                        {% if data.tittle == 'hr' %}
                                        Human Resource
                                        {% endif %}
                                    </td>
                                    <td><button><a href="{% url 'updateSuperUser' data.id %}">Action</a></button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</body>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/serviceworker.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>


