{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
    <div class="off_canvars_overlay">
            
    </div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                              <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                        </div>
                        <div style="margin: 0% auto;" class="img">
                            <p>Hello {{user.username}}</p>
                        </div>
                        <br>
                        
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li><a href="{% url 'home' %}">home</a></li>
                                <li><a href="{% url 'add_user' %}"> Add Users</a></li>
                                <li><a href="{% url 'jobgroup' %}">Add Job Group</a></li>
                                <li><a href="{% url 'super_user' %}">Superusers</a></li>
                                <li><a href="{% url 'all_users' %}"> All Users</a></li>
                                <li><a href="{% url 'add_category' %}">Add Category</a></li>
                                <li><a href="{% url 'add_department' %}">Add Department</a></li>
                                <li><a href="{% url 'logout' %}">LogOut</a></li>
                                <li class="menu-item-has-children">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->
    
    <header>
        <div class="main_header">
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo">
                                <a href="{% url 'home' %}"><h3 style="color: white;">Rongo ELMS</h3></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6">
                            <div class="middel_right">
                                <div class="search_container">
                                    <img style="width: 300px;height: 70px; padding: 0%;" src="{% static 'assets/images/logo1.png' %}" alt="">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="main_menu_area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div style="text-align: center;" class="main_menu menu_position"> 
                                <nav>  
                                    <ul>
                                        <li><a href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'add_user' %}"> Add Users</a></li>
                                        <li><a href="{% url 'jobgroup' %}">Add Job Group</a></li>
                                        <li><a href="{% url 'super_user' %}">Superusers</a></li>
                                        <li><a href="{% url 'all_users' %}"> All Users</a></li>
                                        <li><a href="{% url 'add_category' %}">Add Category</a></li>
                                        <li><a href="{% url 'add_department' %}">Add Department</a></li>
                                        <li><a href="{% url 'logout' %}">LogOut</a></li>
                                    </ul> 
                                </nav> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </div> 
    </header>
    <section class="pt-60 pb-30 gray-bg">
        <div class="container">
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li>Update user</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
            <div style="box-shadow: 0 15px 30px rgba(8, 8, 8, 0.556);padding: 20px;" class="col-lg-5 col-md-7 bg-white">
                <div class="p-3">
                    <h2 class="mt-3 text-center text-dark">Update Super User</h2>
                    <p class="text-center"></p>
                    {% for data in messages %}
                    <p style="color: red;text-align: center;">{{data}}</p>
                    {% endfor %}
                    <form class="mt-4" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {{form.user.as_hidden}}
                            {{form.username.as_hidden}}
                            {{form.name.as_hidden}}
                            {{form.email.as_hidden}}
                            {{form.department.as_hidden}}
                            {{form.job_group.as_hidden}}
                            {{form.image.as_hidden}}
                            <br><br>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="uname">Tittle</label>
                                    {{form.tittle}}
                                </div>
                            </div>
                            <br><br>
                            <div class="col-lg-12 text-center">
                                <button style="background-color: green;" type="submit" class="btn btn-block btn-dark">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</body>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/serviceworker.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>


