{% extends 'main.html' %}
{% load static %}
{% block content %}
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js" 
        integrity=
"sha512vDKWohFHe2vkVWXHp3tKvIxxXg0pJxeid5eo+UjdjME3DBFBn2F8yWOE0XmiFcFbXxrEOR1JriWEno5Ckpn15A==" 
        crossorigin="anonymous">
</script>


<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Approval latter</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-white">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            {% for data in leaves %}
                            {% if data.leave_status == 'Accepted' %}
                            {% if data.leave_status1 == 'Accepted' %}
                            <form style="padding: 40px;" id="download" class="text-dark">
                                <div style="margin: 0% auto;">
                                    <center><img style="width: 550px;height: 150px;" src="{% static 'assets/images/logo1.png' %}" alt="rongo"></center>
                                </div><br>
                                <p style="text-align: center;font-weight: bold;font-size: 20px;">Leave Approval Form</p>
                                <p style="text-align: left ;font-size: 15px;">From:  Human Resourse</p>

                                <div>
                                <label for="name"><b>Dear:</b></label>  {{data.user.name}}<br><br>
                                <label for=""><b>PF.No:</b></label>  {{data.user.user.username}}<br>
                                <body>
                                    <p>We have received your leave request from :<b>{{data.start_date}}</b>, to <b>{{data.end_date}}</b> totalling to <b>{{ data.end_date|timeuntil:data.start_date }}</b></p>
                                    <p>As of <b>{{data.start_date}}</b>, your leave request is approved.</p>
                                    <p>Per your request, this time off will be marked as <b>{{data.leave_type}}</b>.</p>
                                    <br>
                                    <P>Thanks.</P>
                                    <p>[signature]</p>
                                    <p>Human Resource Rongo University</p>
                                    </body>
                                </div>
                            </form>
                            <input type="button" class="btn btn-primary" onclick="GeneratePdf();" value="Download">
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center text-muted">
        All Rights Reserved. Designed and Developed by <a
            href="https://wrappixel.com">..........</a>.
    </footer>
</div>

</div>
<script>
    function GeneratePdf() {
        var element = document.getElementById('download');
        html2pdf(element);
    }
</script>
{% endblock content %}