{% extends 'main.html' %}
{% load static %}
{% block content %}
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js" 
        integrity=
"sha512vDKWohFHe2vkVWXHp3tKvIxxXg0pJxeid5eo+UjdjME3DBFBn2F8yWOE0XmiFcFbXxrEOR1JriWEno5Ckpn15A==" 
        crossorigin="anonymous">
</script>


<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Approval latter</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-white">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            {% for data in leaves reversed %}
                            {% if data.leave_status == 'Accepted' %}
                            {% if data.leave_status1 == 'Accepted' %}
                            {% if forloop.first %}
                            <form style="padding: 40px; color: black;background-color: white;" id="download" class="text-dark">
                                <div style="margin: 0% auto; color: black;">
                                    <center><img style="width: 550px;height: 150px;" src="{% static 'assets/images/logo1.png' %}" alt="rongo"></center>
                                </div><br>
                                <p style="text-align: center;font-weight: bold;font-size: 20px;color: black;">HUMAN RESOURCE SECTION</p><span style="color: black;"><hr></span>
                                <p style="text-align: left ;font-size: 15px;color: black;"><b>REF</b>:  RU/AFP/HR/ 
                                    <span style="float: right;"><b>Date</b>{{data.start_date}}</span></p>

                                <div>
                                <label for="name">{{data.user.name}}</label><br>
                                <label for="name">Rongo University</label><br>
                                <label for="name">P.O.BOX 103-40404</label><br>
                                <label for="name"><b><u>RONGO</u></b></label><br><br>
                                <label for="name">Email: {{data.user.email}}</label><br><br>
                                <label for="name">Dear {{data.user.name}}</label><br><br>



                                <label for=""><b><u>RE: APPLICATION FOR LEAVE</u></b></label><br>
                                <div style="color: black;">
                                    <p>Following the request for <b>{{data.leave_type}}</b> (leave) from :<b>{{data.start_date}}</b>, to <b>{{data.end_date}}</b>, your leave has been Accepted and you have been granted a chance for leave for <b>{{ data.end_date|timeuntil:data.start_date }}.</b></p>
                                    <p>By a copy of this letter you are asked to present it to Human Resource for signing and stamping before leaving for your leave, <b>{{data.start_date}}</b>.</p>
                                    <p>We wish you all the best in your Leave period.</p>
                                    <P>Yours Sincerely,<br><br><br>
                                    <span>___________________________</span>
                                    <span style="float: right;">__________________________</span>
                                    </P>
                                    <p>
                                        <span style="margin-left: 60px;">[signature]</span>
                                        <span style="float: right;margin-right: 60px;">[stamp]</span>
                                    </p>
                                    <p><b>Rev. Dr.JNATHAN WILLIAM OMOLO</b></p>
                                    <p><b>&nbsp;&nbsp;Ag. HEAD OF HUMAN RESOURCE</b></p><br>
                                    <p>&nbsp;&nbsp;Cc: Deputy Vice-Chancellor (AFP)</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp; Head, {{data.user.reporting_to.department}}</p>
                                    <p>&nbsp;&nbsp; JWO/fn</p><br><br>
                                    <hr>
                                    <p style="text-align: center;"><i><b>Rongo University is ISO 9001:2015 Certified</b></i>
                                        <span><img style="width: 80px;height: 80px;border-radius: 50%;" src="{% static 'assets/images/iso.png' %}" alt=""></span>
                                    </p>
                                    </body>
                                </div>
                            </form>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            <input type="button" class="btn btn-primary" onclick="GeneratePdf();" value="Download">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center text-muted">
        All Rights Reserved. Designed and Developed by <a
            href="https://wrappixel.com">..........</a>.
    </footer>
</div>

</div>
<script>
    function GeneratePdf() {
        var element = document.getElementById('download');
        html2pdf(element);
    }
</script>
{% endblock content %}